<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all students
    </h1>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table" border="1" >
      <tr>
        <th>
          ID
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Email
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_students.each do |student| %>
      <tr>
        <td>
          <%= student.id %>
        </td>

        <td>
          <%= student.first_name %>
        </td>

        <td>
          <%= student.last_name %>
        </td>

        <td>
          <%= student.email %>
        </td>

        <td>
          <a href="/students/<%= student.id%>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
