<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all enrollments
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Course
        </th>

        <th>
          Student
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_enrollments.each do |enrollment| %>
      <tr>
        <td>
          <%= enrollment.id %>
        </td>

        <td>
          <%= enrollment.course_id %>
        </td>

        <td>
          <%= enrollment.student_id %>
        </td>

        <td>
          <%= enrollment.created_at %>
        </td>
        <td>
          <%= enrollment.updated_at %>
        </td>

        <td>
          <a href="/enrollments/<%= enrollment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
