<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Enrollment #<%= @enrollment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/enrollments">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Course
      </dt>
      <dd>
        <%= @enrollment.course_id %>
      </dd>

      <dt>
        Student
      </dt>
      <dd>
        <%= @enrollment.student_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= @enrollment.created_at %>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= @enrollment.updated_at %>
      </dd>
    </dl>
  </div>
</div>

<hr>
