<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all courses
    </h1>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table" border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Term offered
        </th>

        <th>
          Department
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_courses.each do |course| %>
      <tr>
        <td>
          <%= course.id %>
        </td>

        <td>
          <%= course.title %>
        </td>

        <td>
          <%= course.term_offered %>
        </td>

        <td>
          <% department = Department.where({ :id => course.department_id }).at(0) %>
          <a href="/departments/<%= department.id %>"><%= department.name %></a>
        </td>

        <td>
          <a href="/courses/<%= course.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
