<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Course #<%= @the_course.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/courses">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_course.title %>
      </dd>

      <dt>
        Term offered
      </dt>
      <dd>
        <%= @the_course.term_offered %>
      </dd>

      <dt>
        Department
      </dt>
      <dd>
        <% department = Department.where({ :id => @the_course.department_id }).at(0) %>
        <a href="/departments/<%= department.id %>"><%= department.name %></a>
      </dd>

      <dt>
        Number of enrolled students
      </dt>
      <dd>
        <%= Enrollment.where({ :course_id => @the_course.id }).count %>
      </dd>
    </dl>
  </div>
</div>

<hr>



<h2>Roster</h2>
<ul>
  <% Enrollment.where({ :course_id => @the_course.id }).each do |enrollment| %>
    <% student = Student.where({ :id => enrollment.student_id }).at(0) %>
    <li>
      <a href="/students/<%= student.id %>">
        <%= student.first_name %> <%= student.last_name %>
      </a>
    </li>
  <% end %>
</ul>

